/fav.html
/favs.css
/heart.png
/hello.css
/hello.html
/hotel.png
/idenex.html
/index.html
/learn.html
/learns.css
/me.jpg
/meaw1.jpg
/mem.css
/memory.html
/nav.html
/NEW.CSS
/NEW.JS
/newpage.html
/style.css